# Dependency directories
node_modules/

# Environment variables
.env
.env.test

# Logs
logs
*.log

# Operating System Files
.DS_Store
Thumbs.db

# Ignore uploaded images and documents
public/uploads/employee_images/
public/uploads/employee_docs/

# Ignore all contents in the uploads folder but keep the folder itself (optional)
public/uploads/*
!public/uploads/.gitkeep